<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="AdvancedSqlServerDependencies.Properties.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="AdvancedSqlServerDependencies.Properties.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="AdvancedSqlServerDependencies.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <AdvancedSqlServerDependencies.Properties.AppSettings>
            <setting name="LastConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="DependencySearchDirectionTopDown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastSearches" serializeAs="String">
                <value />
            </setting>
            <setting name="ObjectMatchMethod" serializeAs="String">
                <value>Contains</value>
            </setting>
            <setting name="ForceObjectAndDependencyReload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NoObjectSelectedDefaultText" serializeAs="String">
                <value>No object selected</value>
            </setting>
            <setting name="LastOption" serializeAs="String">
                <value />
            </setting>
            <setting name="ApplicationRated" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastObjectTypes" serializeAs="String">
                <value />
            </setting>
            <setting name="SuppressWelcomePage" serializeAs="String">
                <value>False</value>
            </setting>
        </AdvancedSqlServerDependencies.Properties.AppSettings>
        <AdvancedSqlServerDependencies.Properties.UserSettings>
            <setting name="CommandTimeout" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="UseAlternatingBackColors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlternateRowBackColor" serializeAs="String">
                <value>Info</value>
            </setting>
        </AdvancedSqlServerDependencies.Properties.UserSettings>
        <AdvancedSqlServerDependencies.Properties.Settings>
            <setting name="LastConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="CommandTimeout" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="DependencySearchDirectionTopDown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastSearches" serializeAs="String">
                <value />
            </setting>
            <setting name="ObjectMatchMethod" serializeAs="String">
                <value>Contains</value>
            </setting>
            <setting name="UseAlternatingBackColors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ForceObjectAndDependencyReload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NoObjectSelectedDefaultText" serializeAs="String">
                <value>No object selected</value>
            </setting>
            <setting name="AlternateRowBackColor" serializeAs="String">
                <value>Azure</value>
            </setting>
            <setting name="LastOption" serializeAs="String">
                <value />
            </setting>
        </AdvancedSqlServerDependencies.Properties.Settings>
    </userSettings>
</configuration>
